body{
    text-align: center;
    font-family: "Arial";
    color:red;
}
.todo{
    background-color: blanchedalmond;
    width: 70%;
    border: 1px;
}
#cabecera{
    background-color: aqua;
    color:darkblue;
    font-size: large;
    margin: 50px;
    padding: 25px;
    box-shadow: 40px 50px 5px 0px rgba(110,77,110,0.53);
    height: 200px;
    width: 70%;
    display: flex;
    align-items: center;
}
span{
    font-size: x-large;
}