body{
    text-align: center;
    font-family: Arial;
    color:red;
    
}
#cabecera{
   
    height: 44px;
    text-align: center;
    justify-content: center;
    border: solid;
    margin:0 auto;
    width: 70%;
}

#img1{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.hiperblog{
    width:150px;
    height:150px;
  }